<section class="col-md-8 mx-auto mt-3">

    <form #frm="ngForm" (ngSubmit)="addAirport()">
      <div class="mt-3">Airport Name</div>
    <div><input type="text" name="txtname" [(ngModel)]="airport.airportName" class="form-control" #airportname="ngModel"
        required pattern= ".*[A-Za-z\s].*"/></div>
    <div class="alert alert-danger" *ngIf="airportname.invalid && (airportname.touched || airportname.dirty)">
      <div *ngIf="airportname.errors.required">Airport Name Is Required.</div>
      <div *ngIf="airportname.errors.pattern">Airport Name Should Contain Only Characters.</div>
    </div>

    <div class="mt-3">Airport Code</div>
    <div><input type="text" name="txtcode" [(ngModel)]="airport.airportCode" class="form-control" #airportcode="ngModel"
        required pattern= "[A-Za-z]{3}" /></div>
    <div class="alert alert-danger" *ngIf="airportcode.invalid && (airportcode.touched || airportcode.dirty)">
      <div *ngIf="airportcode.errors.required">Airport Code Is Required.</div>
      <div *ngIf="airportcode.errors.pattern">Airport Code Should Contain Only Characters In Three Letters.</div>
    </div>

    <div class="mt-3">Airport Location</div>
    <div><input type="text" name="txtlocation" [(ngModel)]="airport.airportLocation" class="form-control" #airportlocation="ngModel"
        required pattern= "[A-Za-z]" /></div>
    <div class="alert alert-danger mt-3" *ngIf="airportlocation.invalid && (airportlocation.touched || airportlocation.dirty)">
      <div *ngIf="airportlocation.errors.required">Airport Location Is Required.</div>
      <div *ngIf="airportlocation.errors.pattern">Airport Location Should Contain Only Characters.</div>
    </div>

    <div class="mt-3"><input type="submit" [disabled]="!frm.valid" class="btn btn-success" value="Add Airport"/></div>
  </form>
</section>